body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  background-color: #16ffb1;
  position: fixed;
  width: 0px; 
}

#minha_foto {
  border-radius: 1500%;
  margin-left: 0px;
  width: 50px; 
  height: 50px;
  padding-top: 0px;
  border: rbg(22, 5, 129);
}
.lado-esquerdo {
  font-size: 30px;
  display: inline-block;
  border: solid blue;
  width: 50px;  
}
.lado-direito {
  font-size: 30px;
  display: inline-block;
  border: solid blue;
  width: 50px;
}
#licoes_aprendidas {
  font-size: 30px;
  display: inline-block;
  border: cornflowerblue;
  width: 40px;
}  

#licoes_a_aprender {
  font-size: 30px;
  display: inline-block;
  border: blue;
}
p {
  font: family;
  font-size: 12px;
  color: rbg(205, 0, 0, 0.2);
  text-indent: 14px;   
}

#tabela {
  border: solid 2px;
}
#section {
  float: inline-20px;
  nav-right: auto;
}

#rodape {
  top: 580px;
  font-size: 20px;
  border: 12px;
  margin: 18px;
  padding: 12px;
}  
